@media (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  section {
    padding-bottom: 50px;
  }
  .btn {
    padding: 12px 40px;
  }
  .about__item {
    max-width: 360px;
  }
  .contact__locale ul {
    max-height: 480px;
  }
}
@media (max-width: 1200px) {
  .footer__social {
    display: none;
  }
  .header__category ul li a p {
    font-size: 10px;
  }
  .container {
    max-width: 1180px;
  }
  .product__cart {
    flex-direction: column;
    margin-top: 35px;
    ul {
      margin-bottom: 20px;
    }
  }
  .header__info ul {
    margin-left: 20px;
  }
  .blog__title h4 {
    font-size: 20px;
  }
  .product__flex .action__item {
    flex: 1 0 100%;
  }
  .contact__locale ul {
    max-height: 450px;
  }
  .contact__number {
    margin-right: 60px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 95%;
  }
  .cart__preview {
    right: 0;
  }
  .header__info ul {
    margin-left: 0;
  }
  .about__item {
    max-width: 30%;
  }
  .about__detail h4 {
    font-size: 30px;
  }
  .header__info p {
    display: none;
  }
  .account__menu {
    overflow: auto;
  }
  .account__menu li {
    margin-right: 100px;
  }
}
@media (max-width: 990px) {
  .cart__item {
    width: 90%;
  }
  .cart__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart__title h4 {
    font-size: 25px;
  }
  .cart__preview {
    top: 113px;
  }
  .about__item {
    max-width: 100%;
  }
  .about__detail p {
    font-size: 20px;
  }
  .about__detail h4 {
    font-size: 40px;
  }
  .container {
    max-width: 90%;
  }
  .about__flex .container {
    flex-direction: column;
  }
  .about__item {
    margin-bottom: 50px;
  }
  .header__bottom .container {
    max-width: 100%;
  }
  .header__category ul {
    overflow: auto;
    flex-wrap: nowrap;
  }
  .header__category ul li {
    max-width: 13%;
  }
  .product__item {
    max-width: 49%;
  }
  .delivery__flex {
    flex-direction: column;
  }
  .delivery__item {
    max-width: 100%;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .header__info p {
    display: none;
  }
  .footer__top p {
    font-size: 12px;
  }
  .footer__bottom ul li a {
    font-size: 12px;
  }
  .header__user {
    ul {
      display: none;
    }
  }
  .header__flex .container {
    max-width: 100%;
  }
  .header__logo {
    max-width: 350px;
  }
  .header__cart {
    margin-left: 0;
  }
  .blog__item {
    max-width: 100%;
  }
  .contact__flex {
    flex-direction: column;
  }
  .contact__item {
    flex-direction: column;
  }
  .contact__number {
    margin-right: 0;
  }
  .contact__number h3 {
    text-align: center;
  }
  .contact__number ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 20px;
    }
    p {
      font-size: 23px;
      margin-top: 10px;
    }
  }
  .contact__locale {
    margin-top: 35px;
    h3 {
      text-align: center;
    }
  }
  .action__item:not(:last-child) {
    margin-right: 0;
  }
  .action__flex {
    flex-direction: column;
  }
  .product__flex .action__item {
    height: auto;
  }
  .not-found__description p {
    font-size: 35px;
  }
  .account__menu li a {
    font-size: 28px;
  }
  .account__menu li {
    margin-right: 55px;
  }
  .bonus__item {
    margin-top: 40px;
  }
  .profile__detail {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile__detail label {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .header__category ul li {
    max-width: 22%;
  }
  .slider .swiper-pagination {
    display: none;
  }
  .product__detail h3 {
    line-height: 25px;
  }
  .delivery__item h4 {
    font-size: 25px;
    text-align: center;
  }
  .footer__bottom ul {
    flex-direction: column;
    li {
      margin-bottom: 10px;
      a {
        font-size: 20px;
      }
    }
  }
  .footer__top {
    flex-direction: column-reverse;
  }
  .footer__top p {
    font-size: 15px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .header__top {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .news__hover p {
    font-size: 13px;
  }
  .not-found__description p {
    font-size: 25px;
  }
  .footer__social {
    display: flex;
    margin-right: 0;
    margin-top: 20px;
  }
  .cart__preview {
    max-width: 100%;
    top: 176px;
  }
  .cart__bottom {
    display: none;
  }
  .cart__top {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart__info {
    margin-left: 0;
    margin-top: 30px;
  }
  .account__menu li {
    max-width: 100%;
    flex: none;
  }
  .profile__delete {
    margin-top: 50px;
  }
  .order__info {
    padding: 30px 15px;
  }
}
@media (max-width: 440px) {
  .container {
    max-width: 100%;
  }
  .header__category ul li a p {
    font-size: 8px;
  }
  .header__info ul li {
    font-size: 13px;
  }
  .header__top {
    padding: 20px 0;
  }
  .product__detail h3 {
    line-height: 17px;
    font-size: 18px;
  }
  .btn {
    font-size: 11px;
  }
  .about__detail h4 {
    font-size: 35px;
  }
  .section__title h2 {
    font-size: 40px;
  }
  .news__hover h4 {
    margin-bottom: 15px;
  }
}
